.s-list {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    margin-top: 100px;
}

.m-card {
    width: 80%;
    margin: auto;
}

.btn-add {
    margin-left: auto;
}

.m-f-f {
    width: 100%;
}

.s-list-item {
    font-weight: bold;
}

.btn-l-i {
    position: absolute;
    right: 0;
}